<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"


	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd 
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd 
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- enable autowire -->
	<context:annotation-config />

	<!-- (Annotation方式配置services)enable component scanning (beware that this 
		does not enable mapper scanning!) -->
	<context:component-scan base-package="com" />

	<!-- 接口定义 wsdlLocation为接口指定wsdl,可以用JDK自带工具wsgen生成，则实现类需要加@WebService和@WebMethod，否则不需要添加 
		wsgen.exe -cp . com.service.demo.impl.HelloWorldImpl -wsdl -->
	
	<!--  
	<jaxws:endpoint id="helloWorld"
		implementor="com.service.demo.impl.HelloWorldImpl" address="/HelloWorld"
		wsdlLocation="classpath:wsdl/HelloWorld.wsdl" />
	-->
	
	<!--不加wsdlLocation配置 -->
	<!-- <jaxws:endpoint id="helloWorld" implementor="com.service.demo.impl.HelloWorldImpl" 
		address="/HelloWorld"/> -->

	<!-- ******************************************************************** -->


</beans>