<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.isoft.entity.Cinema">

	<!-- 修改影片 -->
	<update id="updateCinema">
		update  cinema  set singal=1 where batchNo=#{batchNo}
	</update>

</mapper>